@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet");
@import "tailwindcss" source(none);
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, retro;
}

@theme {
  --font-kosugimaru: "Kosugi Maru", sans-serif;
}

@layer base {
  body {
    font-family: "Kosugi Maru", sans-serif;
    @apply text-base-content;
  }
}
