<div class="background-image min-w-max lg:min-h-screen">
  <div class="grid grid-rows-20 grid-flow-col gap-4 min-w-max h-screen">
    <div class="row-start-15 lg:row-start-16 lg:pt-4 text-center px-4">
      <div><i class="pt-4 fa-solid fa-angles-down animate-bounce"></i></div>
        <%= link_to play_path, class:"btn btn-xl shadow-md" do %>
          きのこたけのこ狩りに行く
        <% end %>
    </div>
  </div>
</div>